<!--home.html-->
{% extends "base.html" %}
{%load custom_markdown%}
{% block content %}
<div class="posts">
    {% for post in post_list %}
    <section class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{% url "detail" id=post.id %}">{{ post.title }}</a></h2>

            <p class="post-meta">
            Time:  <a class="post-author" href="#">{{ post.date_time |date:"Y /m /d"}}</a> <a class="post-category post-category-js" href="{% url 'search_tag' tag=post.category%}">{{ post.category }}</a>
            </p>
        </header>

        <div class="post-description">
            <p>
            {{ post.content|custom_markdown|truncatewords:5 }}
            </p>
        </div>
        <a class="pure-button" href="{% url "detail" id=post.id %}">Read More >>> </a>
    </section>
    {% endfor %}

{% if is_paginated %}
    <div class="pagination">
    {% if first %}
        <a href="?page=1">1</a>
    {% endif %}
    {% if left %}
        {% if left_has_more %}
            <span>...</span>
        {% endif %}
        {% for i in left %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endfor %}
    {% endif %}
    <a href="?page={{ page_obj.number }}" style="color: red">{{ page_obj.number }}</a>
    {% if right %}
        {% for i in right %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endfor %}
        {% if right_has_more %}
            <span>...</span>
        {% endif %}
    {% endif %}
    {% if last %}
        <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
    {% endif %}
    </div>  
{% endif %} 


</div><!-- /.blog-post -->
{% endblock %}
